<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<form action="/edit-barang/{{id}}" method="POST">
			<div class="form-group">
				<label for="gambar">Url Gambar</label>
				<input type="text" name="gambar" id="gambar" class="form-control">
			</div>
			<div class="form-group">
				<label for="judul">Judul</label>
				<input type="text" name="judul" id="judul" class="form-control">
			</div>
			<div class="form-group">
				<label for="deskripsi">deskripsi</label>
				<input type="text" name="deskripsi" id="deskripsi" class="form-control">
			</div>
			<div class="form-group">
				<label for="harga">Harga</label>
				<input type="text" name="harga" id="harga" class="form-control">
			</div>
			<button type="submit" class="btn btn-primary">Edit Barang</button>
		</form>
	</div>
</div>