<ul class="list-group">
<li class="list-group-item">
	<strong><p>Apakah LELO ini?</p></strong>
	<p>LELO (Lelang Online) adalah Lelang berbasis web yang akan memberikan kemudahan untuk Anda</p>
</li>
<li class="list-group-item">
	<strong><p>Bagaimana Cara Berlelang?</p></strong>
	<p>Berlelang disini seperti lelang konvensional dimana kalian harus menawar lebih tinggi daripada kompetitor anda untuk mendapatkan barang tersebut</p>
</li>
<li class="list-group-item">
	<strong><p>Bagaimana jika tawaran saya lebih rendah daripada harga dan lelang sudah diakhiri?</p></strong>
	<p>Pada kasus ini anda tetap akan mendapatkan barang dengan harga sesuai dengan harga awal bukan harga tawaran anda</p>
</li>
<li class="list-group-item">
	<strong><p>Bagaiman Jika barang saya saya beli sendir</p></strong>
	<p>Sistem akan bekerja untuk tidak memperbolehkan Anda untuk membeli barang anda sendiri (Anda dapat melelang barang anda)</p>
</li>
</ul>