<div class="jumbotron" style="text-align: center;" >
  <h1>Lelang Online</h1>
  <img src="images/lelo.png" style="width: 200px;">
  <p>Dimana tempat Lelang menjadi lebih mudah dan kompetitif</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

  <h2 style="text-align:center">Barang Rekomendasi</h2>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/lelo.png" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea .</p>
        <p>
        	<div class="clearfix">
        		<div class="harga pull-left" style="align:center;">Rp.300.000,-</div>
        		<a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
        	</div>
        	
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/lelo.png" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea .</p>
        <p>
        	<div class="clearfix">
        		<div class="harga pull-left" style="align:center;">Rp.300.000,-</div>
        		<a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
        	</div>
        	
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/lelo.png" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea .</p>
        <p>
        	<div class="clearfix">
        		<div class="harga pull-left" style="align:center;">Rp.300.000,-</div>
        		<a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
        	</div>
        	
      </div>
    </div>
  </div>
</div>


 <h2 style="text-align:center">Kategori</h2>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/lelo.png" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea .</p>
        <p>
        	<div class="clearfix">
        		<div class="harga pull-left" style="align:center;">Rp.300.000,-</div>
        		<a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
        	</div>
        	
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/lelo.png" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea .</p>
        <p>
        	<div class="clearfix">
        		<div class="harga pull-left" style="align:center;">Rp.300.000,-</div>
        		<a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
        	</div>
        	
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/lelo.png" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea .</p>
        <p>
        	<div class="clearfix">
        		<div class="harga pull-left" style="align:center;">Rp.300.000,-</div>
        		<a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
        	</div>
        	
      </div>
    </div>
  </div>
</div>
